/*font import merriweather*/
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wdth,wght@0,18..144,87.5,300..900;1,18..144,87.5,300..900&display=swap');


/*font styles*/
.merriweather-font-value {
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
        font-size:1.2rem;
}
.alm {
  font-family: "Almendra SC", serif;
  font-weight: 600;
  font-style: normal;
}

.heading{
  font-family: "Almendra SC", serif;
  font-weight: 600;
  font-style: normal;
  color:#ae8625;
  font-size:3rem;
  text-shadow:#080000 1px 1px 2px;
}

.subheading{
  font-family: "Almendra SC", serif;
  font-weight: 600;
  font-style: normal;
  color: #ae8625;
  font-size:1.5rem;
  text-shadow:#080000 1px 1px 2px;
}
p{
  margin:0;
  padding:0;
}

/*main body styles*/
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
    background-color: #f5f5f5;
    color: #333333;
    background-image: url("../../assets/images/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #ae8625;
}
.text-box{
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    color: #ffffff;
    text-align: center;
    background-color: #222222;
    
    border-radius: 10px;
    padding: 10px;
    box-shadow: #040404 3px 3px 6px;
}
iframe{
  border:2px solid white;
  border-radius:10px;
  max-height: 20vh;
  max-width:90vw;
  margin-top:20px;
  margin-left:20px;
  margin-right:20px;
  margin-bottom:20px;
  box-shadow: #040404 3px 3px 6px;
}

footer{
  display:flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  width:100%;
  background-color:#222222;
  color:white;
}
footer p{
  text-align:center;
  margin:0;
  padding:0;
}
footer div{
  padding-top:20px;
  padding-bottom:20px;
  padding-left:20px;
  padding-right:20px;
}


/*index page styles*/
.manor-image{
    width: 90%;
    height: auto;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: #040404 3px 3px 6px;
  }

/*Hotel rooms page styles*/