/*font import merriweather/germania*/
@import url('https://fonts.googleapis.com/css2?family=Almendra+SC&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*font styles*/
.roboto {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}
.almendra-sc-regular {
  font-family: "Almendra SC", serif;
  font-weight: 400;
  font-style: normal;
}
/*heading styles*/
.gold-heading{
  font-family:"Almendra SC", serif;
  font-size:50px;
  font-weight:700;
  background:linear-gradient(to right, #ae8625 0%,#f7ef8a 20%, #d2ac47 40%, #edc967 60%);
  -webkit-background-clip:text;
  background-clip:text;
  color:transparent;
  text-shadow:2px 2px 4px rgba(128, 87, 16, 0.789), 0px 0px 5px rgba(255,255,255,0.2);
}
.gold-subheading{
  font-family:"Almendra SC", serif;
  font-size:25px;
  font-weight:500;
  background:linear-gradient(to right, #ae8625 0%,#f7ef8a 20%, #d2ac47 40%, #edc967 60% );
  -webkit-background-clip:text;
  background-clip:text;
  color:transparent;
  text-shadow:2px 2px 4px rgba(128, 87, 16, 0.789), 0px 0px 5px rgba(255,255,255,0.2);
}
/*custom navbar settings*/
.navbar.fixed-top.custom-navbar{
  position:relative !important;
  z-index: 10 !important;
}
.navbar.custom-navbar, 
.custom-navbar {
    background-color: transparent !important; 
    border: none !important;
}
.offcanvas,
.offcanvas-header,
.offcanvas-body {
    background-color: #3c4f06;
}
.custom-navbar .navbar-brand,
.custom-navbar .nav-link {
  position:relative !important;
  z-index: 10 !important; 
    color: #d2ac47 !important;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7); 
}
.offcanvas-header {
    color: #d2ac47; 
}
.navbar-toggler .navbar-toggler-icon {
    position:relative !important;
    z-index: 1000 !important;
    color:#d2ac47 !important;
}
.navbar-toggler-icon {
  display: inline-block;
  width: 30px; 
  height: 30px; 
  vertical-align: middle;
}
.navbar-toggler {
  z-index: 1000 !important;
  padding: 0.25rem 0.75rem; 
}

/* Social Icon Styles */
div .social-icons-top i {
    width: 50%;
    font-size: 1.1rem; 
    color: #d2ac47; 
    transition: color 0.3s ease; 
    z-index:-10;
}
.social-icons-top i:hover {
    color: #f7ef8a; 
}
/*paragraph styles*/
p{
  margin:0;
  padding:0;
  font-size:18px;
  font-family:'Roboto', sans-serif;
  font-weight:200;
  color:#f7ef8a;
}

/*main body styles*/
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url("../../assets/images/background8.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.text-box{
    margin-top: 80px;
    margin-left: 20px;
    margin-right: 20px;
    color: #ffffff;
    text-align: center;
    background-color:transparent;
    border-radius: 10px;
    padding: 10px;
}
/*interactive map*/
iframe{
  border:2px solid white;
  border-radius:10px;
  max-height: 30vh;
  max-width:90vw;
  margin-top:20px;
  margin-left:20px;
  margin-right:20px;
  margin-bottom:20px;
  box-shadow: #4c2507 3px 3px 6px;
}
/*footer styles*/
footer{
  display:flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  width:100%;
  background-color: #3c4f06;
  color:#d2ac47;
}
footer a{
  color:#d2ac47;
  text-decoration:none;
}
footer a:hover{
  color:#f7ef8a;
  text-decoration:none;
}
footer p{
  text-align:center;
  margin:0;
  padding:0;
}
footer div{
  padding-top:20px;
  padding-bottom:20px;
  padding-left:20px;
  padding-right:20px;
}


/*index page styles*/
.manor-image{
    width: 80vw;
    height: auto;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

.gold-frame{
  border:2px solid #d2ac47;
  box-shadow:0 0 0 3px #ae8625, 0 0 0 4px #b7973f,  0 0 0 4px #edc967;
  padding:1px;
}


/*Hotel rooms page styles*/
.rooms-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-items: center;
  }

  
@media screen and (min-width: 768px) {
  
}