/*font import merriweather/germania*/
@import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Almendra+SC&family=Rye&display=swap');

/*font styles*/
.rye-regular {
  font-family: "Rye", serif;
  font-weight: 400;
  font-style: normal;
}
.almendra-sc-regular {
  font-family: "Almendra SC", serif;
  font-weight: 400;
  font-style: normal;
}
/*heading styles*/
.gold-heading{
  font-family:"Almendra SC", serif;
  font-size:50px;
  font-weight:700;
  background:linear-gradient(to right, #ae8625 0%,#f7ef8a 20%, #d2ac47 40%, #edc967 60%, #ae8625 80%);
  -webkit-background-clip:text;
  background-clip:text;
  color:transparent;
  text-shadow:2px 2px 4px rgba(128, 87, 16, 0.789), 0px 0px 5px rgba(255,255,255,0.2);
}
.gold-subheading{
  font-family:"Almendra SC", serif;
  font-size:25px;
  font-weight:500;
  background:linear-gradient(to right, #ae8625 0%,#f7ef8a 20%, #d2ac47 40%, #edc967 60% );
  -webkit-background-clip:text;
  background-clip:text;
  color:transparent;
  text-shadow:2px 2px 4px rgba(128, 87, 16, 0.789), 0px 0px 5px rgba(255,255,255,0.2);
}
/*custom navbar settings*/
.custom-navbar {
    background-color: #222222 !important; 
}
.custom-navbar .navbar-brand,
.custom-navbar .nav-link {
    color: #d2ac47 !important;
}
.custom-navbar ~ .offcanvas .offcanvas-header {
    background-color: #222222 !important; 
}
.custom-navbar ~ .offcanvas .offcanvas-title {
    color: #d2ac47 !important; 
}
/*paragraph styles*/
p{
  margin:0;
  padding:0;
  font-size:18px;
  font-family:'Almendra SC', serif;
  font-weight:200;
}

/*main body styles*/
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #333333;
    background-image: url("../../assets/images/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.text-box{
    margin-top: 60px;
    margin-left: 25px;
    margin-right: 25px;
    color: #ffffff;
    text-align: center;
    background-color:transparent;
    border-radius: 10px;
    padding: 10px;
    box-shadow: #ae8625 1px 1px 1px 1px;
}
iframe{
  border:2px solid white;
  border-radius:10px;
  max-height: 20vh;
  max-width:90vw;
  margin-top:20px;
  margin-left:25px;
  margin-right:25px;
  margin-bottom:20px;
  box-shadow: #4c2507 3px 3px 6px;
}

footer{
  display:flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  width:100%;
  background-color: #222222;
  color:white;
}
footer p{
  text-align:center;
  margin:0;
  padding:0;
}
footer div{
  padding-top:20px;
  padding-bottom:20px;
  padding-left:20px;
  padding-right:20px;
}


/*index page styles*/
.manor-image{
    width: 90%;
    height: auto;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: #ae8625 1px 1px 1px 1px;
  }

/*Hotel rooms page styles*/