/*font import merriweather*/
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wdth,wght@0,18..144,87.5,300..900;1,18..144,87.5,300..900&display=swap');


/*font variations 300 to 900*/
.merriweather-font-value {
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
        font-size:1.2rem;
}
.alm {
  font-family: "Almendra SC", serif;
  font-weight: 600;
  font-style: normal;
}

.heading{
  font-family: "Almendra SC", serif;
  font-weight: 600;
  font-style: normal;
  color: #296129;
  font-size:3rem;
}


/*body*/
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
    background-color: #f5f5f5;
    color: #333333;
    background-image: url("../../assets/images/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #296129;
}
.text-box{
    margin-top: 10vh;
    margin-left: 5vw;
    margin-right: 5vw;
    color: #414241;
    text-align: center;
    background-color: #d0cccc;
    border:#333333 3px solid;
    border-radius: 10px;
    padding: 10px;
    box-shadow: #040404 3px 3px 5px;
}
.manor-image{
    width: 50%;
    height: auto;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;}
